<!DOCTYPE html>
<html lang="en">
<%- include ("partial/header.ejs") %>

<body>
    <%- include ("partial/logout.ejs") %>

    <div class="create-new-product-form">

        <% user.forEach((user) => {  %>
        hej

        <div class="create-new-product-form-header">
            <h2>Edit user</h2>
        </div>
        <form action="/adminUser" method="post">
            <div class="form-group">
                <%= user.firstName %>

            </div>

            <div class="form-group">
                <%= user.surName %>
            </div>

            <div class="form-group">
                <%= user.email %>
            </div>

            <div>Admin: <input name="admin" type="checkbox" <% if(user.admin){%> checked <%} %>>
            </div>

        </form>
        <% }) %>
    </div>


</html>