<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    


    <form action="/admin" class="createproduct" method="post">

        <input type="text" name="title" placeholder="title" />
        <input type="text" name="imgUrl" placeholder="imgUrl" />
        <input type="text" name="price" placeholder="price" />
        <input type="text" name="description" placeholder="description" />
        <input type="text" name="size" placeholder="size" />

        <label for="newArrival">New arrival</label>
        <input type="checkbox" name="newArrival" />

        <label for="topSeller">Top seller</label>
        <input type="checkbox" name="topSeller" />

        <label for="male">Male</label>
        <input type="checkbox" name="male" />

        <label for="female">Female</label>
        <input type="checkbox" name="female" />

        <button type="submit">Create product</button>

    </form>


    <div>
        <% products.forEach((product) => {  %>
            <div>
                <form action="/edit/<%= product._id %>" method="POST">
                    <p>Title: <input name="title" type="text" value="<%= product.title %>"></p>
                    <p>imgUrl: <input name="imgUrl" type="text" value="<%= product.imgUrl %>"></p>
                    <p>Price: <input name="price" type="text" value="<%= product.price %>"></p>
                    <p>Description: <input name="description" type="text" value="<%= product.description %>"></p>
                    <p>Size: <input name="size" type="text" value="<%= product.size %>"></p>
                    <p>New arrival: <input name="newArrival" type="checkbox" <% if(product.newArrival){%>
                        checked 
                        <%} %> ></p>
                    <p>Top seller: <input name="topSeller" type="checkbox" <% if(product.topSeller){%>
                        checked 
                        <%} %> ></p>
                    <p>Male: <input name="male" type="checkbox" <% if(product.male){%>
                        checked 
                        <%} %> ></p>
                    <p>Female: <input name="female" type="checkbox" <% if(product.female){%>
                        checked 
                        <%} %> ></p>
                    <button type="submit">Edit product</button>
                </form>
                <hr>
                <br>
            </div>
     <%   }); %>
    </div>
</body>
</html>