<%- include ("partial/tothetop") %>
<% user.cart.forEach( (product) => { %>

    <li>
        <%= product.productId._id %>
    </li>
    <li>
        <%= product.productId.title %>
    </li>
    <li>
        <%= product.productId.price %>
    </li>
    <li>
        <%= product.productId.description %>
    </li>
    <li>
            <%= product.size %>
    </li>
    <li>
        amount:
            <%= product.amount %>

    </li>
    <span><%=user.cart.indexOf(product)%></span>
    <a href="/deleteCart/<%= user.cart.indexOf(product) %>">Delete</a>
    <br>
    <a href="/reduceCart/<%= user.cart.indexOf(product) %>">minus</a>
    <hr>
    <br>

<% }) %>