<!DOCTYPE html>
<html lang="en">
<%- include ("partial/header.ejs") %>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="subscribebox">
                SUBSCRIBE FOR 10% OFF
            </div>
        </div>
    </div>
    <!-- Navbar -->
    <%- include ("partial/navbar.ejs") %>

    <section id="productPage">
        <!-- Categories -->
        <div class="categoryContainer">
            <div class="categoryContainerHeader">
                <h2><%= heading %></h2>
            </div>
            <div class="categoryContainerButtons">
                <p><a href="/<%= otherCategories[0] %>">Shop <%= otherCategories[0] %></a></p>
                <p><a href="/<%= otherCategories[1] %>">Shop <%= otherCategories[1] %></a></p>
            </div>
        </div>

        <!-- Products -->

        <div class="productContainer">
            <% products.forEach((product) => { %>
            <div class="product">

                <div class="productImage">
                    <a href="/products/<%= product._id %>"><img src="<%= product.imgUrl %>" alt="productImage"></a>
                </div>
                <div class="productInfo">
                    <div class="productTitle">
                        <span class="title"><%= product.title %></span>
                        <span class="colors">ooo</span>
                    </div>
                    <div class="productPrice">
                        <span class="price"><%= product.price %> SEK</span>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>

    </section>
    <% if(comments.length >=1) { %>





    <div class="pagination">
        <% if(currentPage !==1 && previousPage !==1) { %>
        <a href="/products/?<%=page=1 %>">1</a>
        <% } %>
        <% if(hasPreviousPage) {  %>
        <a href="/products/?page=<%=previousPage %>"> <%= previousPage %> </a>
        <% } %>
        <a href="/products/?page=<%=currentPage %>"> <%= currentPage %> </a>
        <% if(hasNextPage) {  %>
        <a href="/products/?page=<%=nextPage %>"> <%= nextPage %> </a>
        <% } %>
        <% if(lastPage !==currentPage && nextPage !==lastPage) {  %>
        <a href="/products/?page=<%=lastPage%>"> <%= lastPage %> </a>
        <% } %>

        <% }%>

    </div>

    </div>


</body>

</html>