<!DOCTYPE html>
<html lang="en">
    <%- include ("partial/header.ejs") %>
<body>
    <%- include ("partial/navbar.ejs") %>

    <div class="categoryContainer">
        <div class="categoryContainerHeader">
            <h2><%= heading %></h2>
        </div>
        <div class="categoryContainerCategory">
            <p><%= otherCategories[0] %></p>
            <p><%= otherCategories[1] %></p>
        </div>

    </div>

    <% products.forEach((product) => { %>

        <div>
            <img src="<%= product.imgUrl %>" alt="productImage">
            <h2><a href="/products/<%= product._id %>"><%= product.title %></a></h2>
            <p><%= product.description %></p>
            <p><%= product.price %></p>
        </div>

    <% }) %>

    


    <%- include ("partial/footer.ejs") %>
</body>
</html>