<%- include ("partial/header") %>

<%- include ("partial/navbar") %>
<%- include ("partial/tothetop") %>

<form action=“/reset/:token” method=“post”>

    <input type=hidden name=token id=“” value="<%= user.resetToken %>">
    <input type=password name=password id=“”>
    <input type="password" name="repeat" id="">
    <button type=“submit”>Reset password</button>

</form>

<%- include ("partial/footer") %>