<!DOCTYPE html>
<html lang="en">
<%- include ("partial/header.ejs") %>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="subscribebox">
                SUBSCRIBE FOR 10% OFF
            </div>
        </div>
    </div>
    
    <%- include ("partial/navbar.ejs") %>

    <div>
                <div class="scrolling-wrapper">
        
        New Arrivals
        <br>
        <% startPageProducts.newArrivals.forEach(newArrival => { %>
            



            <div class="new-arrival">
                
                    <div class="productImage">
                        <a href="/products/<%= newArrival._id %>"><img src="<%= newArrival.imgUrl %>" alt="productImage"></a>
                    </div>
                    <div class="productInfo">
                        <div class="productTitle">
                            <span class="title"><%= newArrival.title %></span>
                            <span class="colors">ooo</span>
                        </div>
                        <div class="productPrice">
                            <span class="price"><%= newArrival.price %> SEK</span>
                        </div>
                    </div>
            </div>
       <% }); %>

    </div>
        
                

              </div>
    </div>
    <hr>
    <div>
        Top sellers
        <br>
        <%= startPageProducts.topSellers %>
    </div>
    <%- include ("partial/footer.ejs") %>
</body>


</html>